[alias]
  aa = add -A
  ap = add -p
  bd = branch -d
  bn = checkout -b
  br = branch
  cdf = clean -df
  ci = commit
  cm = commit -sm
  co = checkout
  cod = checkout .
  dc = diff --cached
  ds = diff --staged
  dv = difftool -t vimdiff -y
  dvc = difftool -t vimdiff -y --cached
  dvs = difftool -t vimdiff -y --staged
  gl = config --global -l
  lg = log --graph --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %C(bold dim red)%G?%C(reset)%n''          %C(bold dim green)%GK%C(reset) %C(italic dim green)%GS%C(reset)%n'''
  pm = pull --merge
  pr = pull --rebase
  rh = reset HEAD
  rv = remote -v
  s = status -sb
  st = stash
  sta = stash apply
  stall = stash --all
  stb = stash branch --
  stc = stash clear
  std = stash drop --
  stl = stash list
  sts = stash show
  stsp = stash show --patch
  stp = stash pop
  stpa = stash --patch
  stu = stash --include-untracked
  trash = !mkdir -p .trash && git ls-files --others --exclude-standard | xargs mv -f -t .trash
  unstage = reset HEAD --
  who = shortlog -s --
  wd = diff --word-diff
#[credential]
   # Credentials are stored in ~/.git-credentials after the next successful login
#  helper = store
#[credential "<serverFQDN>[:<PORT_IF_NOT_22>]"]
   # Credentials are read from this file
#  helper = store --file /PATH/TO/GIT-CREDENTIAL-FILE_<serverFQDN>
#[color]
#  branch = auto
#  diff = auto
#  grep = auto
#  interactive = auto
#  status = auto
[color "branch"]
  current = green
  local = normal
  remote = red
  plain = normal
[color "diff"]
  plain = normal
  meta = bold
  frag = cyan
  old = red
  new = green
  commit = yellow
  whitespace = normal red
[color "grep"]
  match = normal
[color "interactive"]
  prompt = normal
  header = normal
  help = normal
  error = normal
[color "status"]
  header = normal
  added = red
  updated = green
  changed = red
  untracked = red
  nobranch = red
[commit]
#  template = /path/to/.gitcommitmessage
#  gpgSign = true
[core]
  editor = vim
  # Set file mode false on Windows systems
  filemode = true
[gpg]
#  format ssh
#  format x509
#  program = gpg2
#  program = gpgsm
[gpg "ssh"]
#  allowedSignersFile = PATH/TO/ALLOWEDSIGNERSFILE
#  revocationFile = PATH/TO/REVOCATIONFILE
#[http]
#  proxy = http://proxyUsername:proxyPassword@proxy.server.com:port
[init]
  defaultBranch = master
[tag]
#  gpgsign = true
[pull]
  rebase = true
[push]
  # push the current branch and set the remote as upstream automatically every time you push
  autoSetupRemote = true
[user]
  name = User name
  email = user@domain.tld
## gpg
#  signingkey = AABBCCDDEEFFAABBCCDDEEFFAABBCCDDEEFFAABB
## SSH
#  signingkey = PATH/TO/SSH_PUBLIC_KEY
