[alias]
  ap = add -p
  br = branch
  ci = commit
  cm = commit -sm
  co = checkout
  db = branch -d
  ds = diff --staged
  dc = diff --cached
  dv = difftool -t vimdiff -y
  dvc = difftool -t vimdiff -y --cached
  dvs = difftool -t vimdiff -y --staged
  gl = config --global -l
  lg = log --graph --decorate --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(auto)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %C(bold dim red)%G?%C(reset)%n''          %C(bold dim green)%GK%C(reset) %C(italic dim green)%GS%C(reset)%n'''
  nb = checkout -b
  rv = remote -v
  st = status -sb
  trash = !mkdir -p .trash && git ls-files --others --exclude-standard | xargs mv -f -t .trash
  unstage = reset HEAD --
  who = shortlog -s --
#[color]
#  branch = auto
#  diff = auto
#  grep = auto
#  interactive = auto
#  status = auto
[color "branch"]
  current = green
  local = normal
  remote = red
  plain = normal
[color "diff"]
  plain = normal
  meta = bold
  frag = cyan
  old = red
  new = green
  commit = yellow
  whitespace = normal red
[color "grep"]
  match = normal
[color "interactive"]
  prompt = normal
  header = normal
  help = normal
  error = normal
[color "status"]
  header = normal
  added = red
  updated = green
  changed = red
  untracked = red
  nobranch = red
[commit]
  template = /path/to/.gitcommitmessage
#  gpgSign = true
[core]
  editor = vim
  # Set file mode false on Windows systems
  filemode = true
[gpg]
# format ssh
# format x509
  program = gpg2
#[http]
#  proxy = http://proxyUsername:proxyPassword@proxy.server.com:port
[init]
  defaultBranch = master
[tag]
  gpgsign = true
[pull]
  rebase = true
[user]
  name = User name
  email = user@domain.tld
#  signingkey = AABBCCDDEEFFAABBCCDDEEFFAABBCCDDEEFFAABB
#  signingkey = PATH/TO/SSH_PUBLIC_KEY
